.my-card {
  background-color: white;
  padding: 10px 10px;
}

.img-main {
  max-width: 100%;
  padding-top: 30px;
  height: 100%;
  object-fit: cover;
  max-height: 350px;
  margin: 0 auto;
  /* object-position: 2px; */
}

.editted-script {
  font-family: Ariel;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

.editted-script-2 {
  font-style: italic;
  text-align: center;
}

.justify-main {
  text-align: justify;
}

.justify-end-main {
  float: right;
}